@import '../../theme.scss';

.user-login-component {
    display: flex;
    flex-direction: column;

    .user-login-container {
        display: flex;
        flex-direction: column;
        
        h6 {
            font-size: 12px;
            font-weight: bold;
            color: $main-color;
            font-family: 'Open Sans';
        }

        input {
            height: 45px;
            margin: 20px 0;            
            font-size: 15px;
            font-family: Nunito;
            color: $gray3;
        }

        .error-input {
            border: solid 2px red;
        }

        .main-row {
            margin-left: 0;
            margin-right: 0;
            .left-area {
                padding: 150px 30px 50px !important;
                height: 90vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 80px 0 0;
                border-radius: 10px;

                .login-area {
                    .forgot-pass {
                        font-size: 15px;
                        font-family: Nunito;
                        color: $gray4;
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    .btn-sbumit{
                        width:100%;
                        height: 45px;
                        background: $main-color;
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 16px; 
                        letter-spacing: 0.2em;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        margin: 10px 0;                    
                    }

                    .btn-facebook-signup {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width:100%;
                        height: 45px;
                        border: solid 1px $main-color;
                        margin: 10px 0;

                        .facebook-signup-txt {
                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 16px; 
                            letter-spacing: 0.2em;
                            text-transform: uppercase;
                            color: $main-color;
                        }

                        .facebook-icon {
                            width: 27PX;
                            margin-right: 10px;
                        }
                    }
                }

                .create-account-area {
                    .not-register-txt {
                        font-size: 14px;
                        font-family: Nunito;
                        color: $gray4;
                        text-align: center;
                    }

                    .btn-sbumit-noFill {
                        width:100%;
                        height: 45px;
                        border: solid 1px $main-color;
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 16px; 
                        letter-spacing: 0.2em;
                        text-transform: uppercase;
                        color: $main-color;
                        margin: 10px 0;
                    }
                }
            }            
        }
    }    
}

@media screen and (min-width: 992px) {
    .user-login-component {
        .user-login-container {
            .main-row {
                .right-area {
                    .right-area-bg {
                        height: 100vh;
                        background: url('../../assets/images/sfondo.png') center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: top;
                        background-origin: border-box;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0; 
                        z-index: 20;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .user-login-component {
        .user-login-container {
            
        }
    }
}