@import '../../../theme.scss';

.restaurantDetail-component {
    display: flex;
    flex-direction: column;
    
    .restaurantDetail-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: $main-color;
            font-weight: bold;
            font-family: Nunito;
        }

        p {
            font-size: 15px;
            font-weight: bold;
            font-family: Nunito;
            color: $gray3;
            margin-bottom: 0px;
        }

        .restaurant-header{
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }        

        .restaurant-body {
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
            border-radius: 16px;
            display: inline-block;
            margin-top: -100px;
            background: white;
            border:1px solid white;
            text-align: left;
            
            .title-area {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                .level-icon {
                    margin-bottom: 15px;
                }

                .open-btn {
                    height: 56px;
                    width: 160px;
                    border-radius: 5px;
                    border: solid 1px $main-color;                    
                    color: $main-color;
                    font-size: 12px;
                    font-weight: bold;
                    font-family: Open Sans;
                    letter-spacing: 0.2em;
                }
            }

            .address-phone-area {
                padding: 30px 0;
            }

            .btn-order {
                background: $main-color;
                font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 16px; 
                width: 287px;
                height: 56px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #FFF;
                margin: 30px 0;
            }

            .tableHours {
                color:#828282;
                
                .row{
                    border-bottom:1px dotted #bdbdbd;
                    margin: 0;
                    min-height: 50px;

                    .col-lg-2 {
                        padding: 0;
                        display: flex;
                        align-items: center;
                    }

                    .col-lg-5 {                        
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:last-child {
                            border-left: solid 1px $gray5;
                        }

                    }
                    .first-row {
                        border-left: none !important;
                    }

                }
            }

            // .map-container {
            //     width: 100%;
            //     height: 300px;
            // }

            .map-wrapper {
                width: 100%;
                padding-top: 75%;
                position: relative;
                margin: 30px 0;
                .map-container {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }
            }

            .restaurant-txt {
                font-size: 15px;
                font-family: Nunito;
                color: $gray3;
                padding: 10px 0;
            }

            .restaurant-body-img-container {
                width: 100%;                
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .restaurantDetail-component {
        padding: 70px 0;
        
        .restaurantDetail-container {

            h2 {
                font-size: 32px;
                margin-bottom: 30px;
            }

            .restaurant-header {
                width: 100%;
                height: 500px;
            }

            .restaurant-body {
                width: 80%;
                padding:48px;

                .tableHours {
                    padding: 48px;
                }
            }            
        }        
    }
}

@media screen and (max-width: 991px) {
    .restaurantDetail-component {
        padding: 30px 0;
        
        .restaurantDetail-container {

            h2 {
                font-size: 24px;
                margin-bottom: 30px;
            }

            .restaurant-header {
                width: 100%;
                height: 400px;
            }

            .restaurant-body {
                width: 90%;
                padding:15px;

                .address-phone-area {
                    .phone-area {
                        margin-top: 20px;
                    }
                }

                .tableHours {
                    padding:25px 0px;
                    .col-sm-2 {
                        width: 20%;
                    }
                    .col-sm-5 {
                        width: 40%;
                    }
                    .col-sm-5 {
                        width: 40%;
                    }  
                }
            }
        }
    }
}